<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="LimedikaDb" value="Server=localhost\SQLEXPRESS;Database=LimedikaDb;User Id=TrustedConnectionDoNotWork;Password=TrustedConnectionDoNotWork;TrustServerCertificate=True "/>
		<add key="PostItUrl" value="https://api.postit.lt/"/>
		<add key="PostItKey" value="postit.lt-examplekey"/>
	</appSettings>
</configuration>